<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.cocos2d"
          android:versionCode="5"
          android:versionName="1.0.3">
    <application android:label="@string/app_name" android:icon="@drawable/icon" android:debuggable="true">
        <activity android:name=".Cocos2D"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- ************************************* -->
        <!--      APPLICATION PACKAGE SAMPLES      -->
        <!-- ************************************* -->

        <!-- Activity Samples -->
        <!--  android:configChanges="orientation" android:screenOrientation="landscape" -->

        <activity android:name=".tests.ActionManagerTest"
                  android:debuggable="true"
                  android:screenOrientation="landscape"
                  android:launchMode="singleInstance"
                  android:label="@string/activity_actionmanagertest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.TEST"/>
            </intent-filter>
        </activity>
        
        <activity android:name=".tests.ActionsTest"
                  android:screenOrientation="landscape"
                  android:debuggable="true"
                  android:launchMode="singleInstance"
                  android:label="@string/activity_actionstest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.TEST"/>
            </intent-filter>
        </activity>
        
        <activity android:name=".tests.AtlasTest"
                  android:screenOrientation="landscape"
                  android:debuggable="true"
                  android:launchMode="singleInstance"
                  android:label="@string/activity_atlastest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.TEST"/>
            </intent-filter>
        </activity>
        
        <activity android:name=".tests.Box2dTest"
                  android:screenOrientation="landscape"
                  android:debuggable="true"
                  android:launchMode="singleInstance"
                  android:label="@string/activity_box2dtest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.TEST"/>
            </intent-filter>
        </activity>
        
        <activity android:name=".tests.ClickAndMoveTest"
                  android:debuggable="true"
                  android:screenOrientation="portrait"
                  android:launchMode="singleInstance"
                  android:label="@string/activity_clickandmovetest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.TEST"/>
            </intent-filter>
        </activity>

        <activity android:name=".tests.CocosNodeTest"
                  android:debuggable="true"
                  android:screenOrientation="landscape"
                  android:launchMode="singleInstance"
                  android:label="@string/activity_cocosnodetest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.TEST"/>
            </intent-filter>
        </activity>
        
        <activity android:name=".tests.DrawPrimitivesTest"
                  android:debuggable="true"
                  android:launchMode="singleInstance"
                  android:label="@string/activity_drawprimitivestest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.TEST"/>
            </intent-filter>
        </activity>
        
        <activity android:name=".tests.EaseActionsTest"
                  android:debuggable="true"
                  android:launchMode="singleInstance"
                  android:label="@string/activity_easeactionstest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.TEST"/>
            </intent-filter>
        </activity>

        <activity android:name=".tests.EffectsAdvancedTest"
                  android:debuggable="true"
                  android:launchMode="singleInstance"
                  android:label="@string/activity_effectsadvancedtest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.TEST"/>
            </intent-filter>
        </activity>
        
        <activity android:name=".tests.EffectsTest"
                  android:debuggable="true"
                  android:launchMode="singleInstance"
                  android:label="@string/activity_effectstest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.TEST"/>
            </intent-filter>
        </activity>
        
        <activity android:name=".tests.MenuTest"
                  android:debuggable="true"
                  android:launchMode="singleInstance"
                  android:label="@string/activity_menutest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.TEST"/>
            </intent-filter>
        </activity>
                        
        <activity android:name=".tests.ParticleTest"
                  android:screenOrientation="landscape"
                  android:debuggable="true"
                  android:launchMode="singleInstance"
                  android:label="@string/activity_actionstest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.TEST"/>
            </intent-filter>
        </activity>
        
        <activity android:name=".tests.SchedulerTest"
                  android:debuggable="true"
                  android:launchMode="singleInstance"
                  android:label="@string/activity_schedulertest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.TEST"/>
            </intent-filter>
        </activity>

        <activity android:name=".tests.TileMapTest"
                  android:debuggable="true"
                  android:launchMode="singleInstance"
                  android:label="@string/activity_tilemaptest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.TEST"/>
            </intent-filter>
        </activity>


        <activity android:name=".tests.MotionStreakTest"
                  android:debuggable="true"
                  android:launchMode="singleInstance"
                  android:label="@string/activity_motionstreaktest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.TEST"/>
            </intent-filter>
        </activity>

        <activity android:name=".tests.ParallaxTest"
                  android:debuggable="true"
                  android:launchMode="singleInstance"
                  android:label="@string/activity_parallaxtest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.TEST"/>
            </intent-filter>
        </activity>

        <activity android:name=".tests.SceneTest"
                  android:debuggable="true"
                  android:launchMode="singleInstance"
                  android:label="@string/activity_scenetest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.TEST"/>
            </intent-filter>
        </activity>
        
        <activity android:name=".tests.SoundEngineTest"
                  android:debuggable="true"
                  android:launchMode="singleInstance"
                  android:label="@string/activity_soundenginetest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.TEST"/>
            </intent-filter>
        </activity>

        <activity android:name=".tests.SpritesTest"
                  android:debuggable="true"
                  android:launchMode="singleInstance"
                  android:label="@string/activity_spritestest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.TEST"/>
            </intent-filter>
        </activity>

        <activity android:name=".tests.TransitionsTest"
                  android:debuggable="true"
                  android:launchMode="singleInstance"
                  android:label="@string/activity_transitionstest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.TEST"/>
            </intent-filter>
        </activity>

        <activity android:name=".tests.RotateWorldTest"
                  android:debuggable="true"
                  android:launchMode="singleInstance"
                  android:label="@string/activity_rotateworldtest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.TEST"/>
            </intent-filter>
        </activity>

    </application>

<uses-sdk android:minSdkVersion="4"></uses-sdk>
</manifest> 
